<div align="center" id="pregunta9" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>¿Conoces la importancia de consumir estos elementos? </b></h1>
	<br/><br/>
	<input id="p9BtnNo" type="button"  class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',9); encuestaCtrl.cambiarPregunta(9,8)" class="w3-btn" value="NO" >
	<input id="p9BtnSi" type="button"  class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',9); encuestaCtrl.cambiarPregunta(9,10)" class="w3-btn" value="SI" >
</div>