<div align="center" id="pregunta3" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>¿Conoces la importancia de restringir el consumo de estos elementos? </b></h1>
	<br/><br/>
	<input id="p3BtnNo" type="button"  class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',3); encuestaCtrl.cambiarPregunta(3,2)" class="w3-btn" value="NO" >
	<input id="p3BtnSi" type="button"  class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',3); encuestaCtrl.cambiarPregunta(3,4)" class="w3-btn" value="SI" >
</div>