<div align="center" id="pregunta15" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>¿Conoces la importancia de consumir alimentos con alto contenido de estos nutrientes? </b></h1>
	<br/><br/>
	<input id="p15BtnNo" type="button"  class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',15); encuestaCtrl.cambiarPregunta(15,14)" class="w3-btn" value="NO" >
	<input id="p15BtnSi" type="button"  class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',15); encuestaCtrl.cambiarPregunta(15,16)" class="w3-btn" value="SI" >
</div>