<div  id="pregunta13" class="w3-container" style="width:50%;opacity:0.8;">
	<h1><b> ¿Sabes qué es la fibra, proteína y carbohidratos? </b></h1>
	<br/><br/>
	<input id="p13BtnNo" type="button" class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',13); encuestaCtrl.cambiarPregunta(13,14)" class="w3-btn" value="NO" >
	<input id="p13BtnSi" type="button" class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',13); encuestaCtrl.cambiarPregunta(13,15)" class="w3-btn" value="SI" >
</div>