<div align="center" id="pregunta4" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>¿Restringes el consumo de estos a los niveles recomendados? </b></h1>
	<br/><br/>
	<input id="p4BtnNo" type="button" class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',4); encuestaCtrl.cambiarPregunta(4,5) " class="w3-btn" value="NO" >
	<input id="p4BtnSi" type="button" class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',4); encuestaCtrl.cambiarPregunta(4,6) " class="w3-btn" value="SI" >
</div>