<div align="center" id="pregunta22" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>¿Consumes alimentos ricos en Omega 3?(Ej: Pescados, mariscos, aguacate) </b></h1>
	<br/><br/>
	<input id="p22BtnNo" type="button" class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',22); encuestaCtrl.cambiarPregunta(22,23) " class="w3-btn" value="NO" >
	<input id="p22BtnSi" type="button" class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',22); encuestaCtrl.cambiarPregunta(22,24) " class="w3-btn" value="SI" >
</div>