<div align="center" id="pregunta6" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>Actualmente,¿Lo haces de manera habitual? (casi todos los días) </b></h1>
	<br/><br/>
	<input id="p6BtnNo" type="button" class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',6); encuestaCtrl.cambiarPregunta(6,0) " class="w3-btn" value="NO" >
	<input id="p6BtnSi" type="button" class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',6); encuestaCtrl.cambiarPregunta(6,0) " class="w3-btn" value="SI" >
</div>