<div align="center" id="pregunta10" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>¿consumes diferentes frutas, verduras, leguminosas y hortalizas? </b></h1>
	<br/><br/>
	<input id="p10BtnNo" type="button" class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',10); encuestaCtrl.cambiarPregunta(10,11) " class="w3-btn" value="NO" >
	<input id="p10BtnSi" type="button" class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',10); encuestaCtrl.cambiarPregunta(10,12) " class="w3-btn" value="SI" >
</div>