<div align="center" id="pregunta12" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>Actualmente,¿Lo haces de manera habitual? (casi todos los días) </b></h1>
	<br/><br/>
	<input id="p12BtnNo" type="button" class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',12); encuestaCtrl.cambiarPregunta(12,13) " class="w3-btn" value="NO" >
	<input id="p12BtnSi" type="button" class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',12); encuestaCtrl.cambiarPregunta(6,13) " class="w3-btn" value="SI" >
</div>