<div align="center" id="pregunta18" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>Actualmente,¿Lo haces de manera habitual? (casi todos los días) </b></h1>
	<br/><br/>
	<input id="p18BtnNo" type="button" class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',18); encuestaCtrl.cambiarPregunta(18,19) " class="w3-btn" value="NO" >
	<input id="p18BtnSi" type="button" class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',18); encuestaCtrl.cambiarPregunta(18,19) " class="w3-btn" value="SI" >
</div>