<div align="center" id="pregunta16" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>¿Consumes alimentos ricos en fibra, protenia y carbohidratos?(Ej: vegetales, arroz, pollo) </b></h1>
	<br/><br/>
	<input id="p16BtnNo" type="button" class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',16); encuestaCtrl.cambiarPregunta(16,17) " class="w3-btn" value="NO" >
	<input id="p16BtnSi" type="button" class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',16); encuestaCtrl.cambiarPregunta(16,18) " class="w3-btn" value="SI" >
</div>