<div align="center" id="pregunta21" class="w3-container" style="width:50%;opacity:0.8;">
	<h1> <b>¿Conoces la importancia de consumir Omega 3? </b></h1>
	<br/><br/>
	<input id="p21BtnNo" type="button"  class="w3-btn w3-red" ng-click="encuestaCtrl.setRespuesta('no',21); encuestaCtrl.cambiarPregunta(21,20)" class="w3-btn" value="NO" >
	<input id="p21BtnSi" type="button"  class="w3-btn w3-green" ng-click="encuestaCtrl.setRespuesta('si',21); encuestaCtrl.cambiarPregunta(21,22)" class="w3-btn" value="SI" >
</div>